.custom-toggle {
  position: relative;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  display: flex;
  width: 100%;
  padding: 22px 0 25px 30px;

  &:last-of-type {
    padding: 22px 0 45px 30px;
  }

  label {
    &:has(input:disabled) {
      pointer-events: none;

      input:checked + .custom-toggle__icon {
        background-color: $mischka;
        border-color: rgba($mischka, 1);

        svg {
          stroke: $color-default-white;
        }
      }

      input + .custom-toggle__icon {
        background-color: rgba($color-default-white, 0.6);
        border-color: rgba($color-default-white, 1);
      }
    }
  }

  input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0 0 0 0);

    &:checked:focus-visible,
    &:checked:hover {
      + .custom-toggle__icon {
        background-color: $color-transparent;
        border-color: rgba($color-default-white, 1);

        svg {
          stroke: $color-default-white;
        }
      }
    }

    &:focus-visible,
    &:hover {
      + .custom-toggle__icon {
        background-color: $color-transparent;
        border-color: rgba($color-default-white, 1);
      }
    }
  }

  &__label {
    color: rgba($color-default-white, 0.9);
    font-family: inherit;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    position: relative;
    cursor: pointer;
  }

  &--checkbox {
    .custom-toggle__icon {
      position: absolute;
      top: 20px;
      left: 0;
      width: 20px;
      height: 20px;
      border: 1px solid rgba($color-default-white, 0.7);
      border-radius: 2px;
      transition: all $trans-default;
      cursor: pointer;

      svg {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        stroke: $cerulean-blue;
      }
    }

    input:checked + .custom-toggle__icon {
      background-color: $color-default-white;
      border-color: rgba($color-default-white, 1);

      svg {
        display: block;
      }
    }
  }

  &.is-invalid .custom-toggle__icon {
    background-color: rgba($error, 0.2);
    border-color: $error;
  }
}

.custom-toggle--modal {
  label {
    &:has(input:disabled) {
      pointer-events: none;

      input + .custom-toggle__icon {
        background-color: rgba($mischka, 0.5);
        border-color: rgba($mischka, 0.5);
      }
    }
  }

  .custom-toggle__label {
    color: rgba($charcoal, 0.9);
  }

  input:checked + .custom-toggle__icon {
    background-color: $cerulean-blue;
    border-color: rgba($cerulean-blue, 1);

    svg {
      stroke: $color-default-white;
    }
  }

  input + .custom-toggle__icon {
    background-color: $color-default-white;
    border-color: rgba($cerulean-blue, 0.7);

    svg {
      stroke: $cerulean-blue;
    }
  }

  input {
    &:checked:focus-visible,
    &:checked:hover {
      + .custom-toggle__icon {
        background-color: $color-transparent;
        border-color: rgba($cerulean-blue, 1);

        svg {
          stroke: $cerulean-blue;
        }
      }
    }

    &:focus-visible,
    &:hover {
      + .custom-toggle__icon {
        background-color: $color-transparent;
        border-color: rgba($cerulean-blue, 1);
      }
    }
  }
}
