.faq__wrapper {
  padding-top: 123px;
  display: flex;
  flex-direction: column;

  @include vp-1199 {
    padding-top: 99px;
  }

  @include vp-767 {
    padding-top: 69px;
  }
}

.faq__wrapper h2 {
  margin: 0 auto 67px;

  @include vp-1199 {
    margin-bottom: 41px;
  }

  @include vp-767 {
    margin-bottom: 33px;
  }
}

.faq__list {
  margin: 0 auto;
  width: 82.91%;
  display: flex;
  flex-direction: column;
  gap: 10px;

  @include vp-1199 {
    width: 100%;
  }
}

.faq__item {
  padding: 40px 80px 44px 39px;
  border: 1px solid $cerulean-blue;
  border-radius: 16px;
  transition: background-color $trans-default;
  position: relative;
  cursor: pointer;

  @include vp-1199 {
    padding: 36px 80px 36px 29px;
  }

  @include vp-767 {
    border-radius: 14px;
    padding: 21px 15px 21px 14px;
  }

  &:focus-within,
  &:hover {
    background-color: $color-default-white;

    .faq__button:not(:disabled) {
      background-color: $color-transparent;

      &::before,
      &::after {
        background-color: $cerulean-blue;
      }
    }
  }

  &:active {
    h3 {
      color: $endeavour;
    }

    .faq__button:not(:disabled) {
      background-color: $endeavour;
      border-color: $endeavour;

      &::before,
      &::after {
        background-color: $color-default-white;
      }
    }
  }
}

.faq__item:nth-child(5n-1) {
  padding: 32px 80px 32px 39px;

  h3 {
    max-width: 560px;
  }

  .faq__button {
    bottom: 14px;
  }

  @include vp-1199 {
    padding: 24px 80px 24px 29px;

    h3 {
      max-width: 75%;
    }

    .faq__button {
      bottom: 2px;
    }
  }

  @include vp-767 {
    padding: 19px 20px 19px 14px;

    .faq__button {
      bottom: 0;
    }
  }
}

.faq__item:nth-child(5n) {
  padding: 32px 80px 32px 39px;

  .faq__button {
    bottom: 14px;
  }

  @include vp-1199 {
    padding: 24px 80px 24px 29px;

    .faq__button {
      bottom: 2px;
    }
  }

  @include vp-767 {
    padding: 19px 20px 19px 14px;

    .faq__button {
      bottom: 0;
    }
  }
}

.faq__item h3 {
  margin: 0;
  color: $cerulean-blue;
  font-family: inherit;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  max-width: 600px;

  @include vp-1199 {
    font-size: 22px;
    line-height: 26px;
    max-width: 90%;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 18px;
    max-width: 80%;
  }
}

.faq__item p {
  display: block;
  color: $alabaster;
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin: 18px 0 0 0;
  max-width: 637px;

  @include vp-1199 {
    line-height: 20px;
    max-width: 95%;
    margin-top: 23px;
  }

  @include vp-767 {
    margin-top: 17px;
    font-size: 14px;
    max-width: 100%;
  }
}

.faq__button {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  padding: 0;
  right: 39px;
  width: 40px;
  height: 40px;
  border: 1px solid $cerulean-blue;
  border-radius: 50%;
  outline: none;
  background-color: $cerulean-blue;
  cursor: pointer;

  @include vp-1199 {
    right: 29px;
  }

  @include vp-767 {
    right: 14px;
  }

  &:focus-visible:not(:disabled),
  &:hover:not(:disabled) {
    background-color: $color-transparent;

    &::before,
    &::after {
      background-color: $cerulean-blue;
    }
  }

  &:active:not(:disabled) {
    background-color: $endeavour;
    border: 1px solid $endeavour;

    &::before,
    &::after {
      background-color: $color-default-white;
    }
  }

  &:disabled:not(:focus),
  &:disabled:not(:hover) {
    background-color: $mischka;
    border-color: $mischka;
  }
}

.faq__button::before {
  position: absolute;
  content: "";
  width: 18px;
  height: 1px;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  background-color: $color-default-white;
}

.faq__button::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 18px;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  background-color: $color-default-white;
}

.faq__item.is-active {
  padding: 40px 80px 32px 39px;
  background-color: $cerulean-blue;

  @include vp-1199 {
    padding: 36px 80px 25px 29px;
  }

  @include vp-767 {
    padding: 21px 20px 14px 14px;
  }

  &:focus-within,
  &:hover:not(:disabled) {
    background-color: $cerulean-blue;

    .faq__button {
      background-color: $color-transparent;
      border-color: $color-default-white;

      &::before {
        background-color: $color-default-white;
      }
    }
  }

  &:active:not(:disabled) {
    background-color: $endeavour;
    border-color: $endeavour;

    h3 {
      color: $color-default-white;
    }

    .faq__button {
      background-color: $color-default-white;
      border: 1px solid $color-default-white;

      &::before {
        background-color: $endeavour;
      }
    }
  }
}

.faq__item.is-active h3 {
  color: $color-default-white;
}

.faq__item.is-active .faq__button {
  background-color: $color-default-white;
  border: 1px solid $color-default-white;
  top: 39px;
  bottom: inherit;
  margin: 0;

  @include vp-1199 {
    top: 29px;
  }

  @include vp-767 {
    top: 19px;
  }

  &::before {
    background-color: $cerulean-blue;
  }

  &::after {
    display: none;
  }

  &:focus-visible:not(:disabled),
  &:hover:not(:disabled) {
    background-color: $color-transparent;

    &::before {
      background-color: $color-default-white;
    }
  }

  &:active:not(:disabled) {
    background-color: $color-default-white;
    border: 1px solid $color-default-white;

    &::before {
      background-color: $endeavour;
    }
  }
}

.faq__description {
  transition: 0.8s;
}
