.feedback__wrapper {
  margin-top: 120px;
  position: relative;
  min-height: 803px;
  color: $alabaster;
}

.feedback__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  @include vp-767 {
    display: none;
  }
}

.feedback__background img {
  background-color: #e4c489;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}

.feedback__form {
  position: relative;
  z-index: 3;
  border-radius: 16px;
  background-color: $cerulean-blue;
  width: 40.17%;
  min-height: 803px;
  padding: 70px 74px;

  @include vp-1199 {
    width: 65.2%;
    padding: 50px 45px;
  }

  @include vp-767 {
    width: 100%;
    padding: 50px 15px;
  }
}

.feedback__form form {
  display: flex;
  flex-direction: column;
}

.feedback__form h2 {
  margin: 0 0 38px 0;
  color: $color-default-white;
  font-family: inherit;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  display: block;

  @include vp-1199 {
    font-size: 28px;
    line-height: 28px;
  }

  @include vp-767 {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 26px;
  }
}

.feedback__form p {
  margin: 0 0 30px 0;
  display: block;
  color: rgba($alabaster, 0.9);
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;

  @include vp-1199 {
    line-height: 20px;
  }

  @include vp-767 {
    font-size: 14px;
  }
}
