.header {
  position: relative;
}

.header__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 11;
}

.header__wrapper .container {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  padding-top: 30px;
  position: relative;
}

.header__logo a {
  display: block;
  width: fit-content;
  outline: none;

  &:focus-visible:not(:disabled),
  &:hover:not(:disabled) {
    opacity: 0.7;
  }

  &:active:not(:disabled) {
    opacity: 0.5;
  }

  &:disabled:not(:focus)::after {
    opacity: 0.3;
  }
}
