.to-go {
  background-color: $cerulean-blue;
}

.to-go__wrapper {
  padding: 124px 0 108px;
  color: $color-default-white;
  display: grid;
  grid-template-columns: 49.6% auto;
  gap: 20px;

  @include vp-1199 {
    padding: 99px 0 100px;
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  @include vp-767 {
    padding: 69px 0 67px;
  }
}

.to-go__header {
  max-width: 498px;
  display: flex;
  flex-direction: column;

  @include vp-1199 {
    max-width: 100%;
  }
}

.to-go__header h2 {
  margin: 0 0 29px 0;
  color: $color-default-white;

  @include vp-1199 {
    margin-bottom: 28px;
  }

  @include vp-767 {
    margin-bottom: 13px;
  }
}

.to-go__header p {
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin: 0 0 32px 0;

  @include vp-1199 {
    line-height: 20px;
    max-width: 75%;
    margin-bottom: 35px;
  }

  @include vp-767 {
    font-size: 14px;
    max-width: 100%;
    margin-bottom: 25px;
  }
}

.to-go__img {
  height: 100%;

  @include vp-1199 {
    height: auto;
  }
}

.to-go__img img {
  background-color: #82cbec;
  border-radius: 16px;
  width: 100%;
  height: 100%;
  object-fit: cover;

  @include vp-1199 {
    height: auto;
  }
}

.to-go__instructions {
  display: flex;
  flex-direction: column;
  padding-top: 3px;
}

.to-go__instructions p {
  margin: 0 0 56px 0;
  font-family: inherit;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  max-width: 373px;

  @include vp-1199 {
    font-size: 28px;
    line-height: 28px;
    max-width: 100%;
    margin: 40px 0 44px 0;
  }

  @include vp-767 {
    font-size: 18px;
    line-height: 22px;
    margin: 32px 0 26px 0;
  }
}

.to-go__list {
  margin: 0 0 0 21px;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 23px;
  counter-reset: to-go__list;

  @include vp-1199 {
    display: grid;
    grid-template-columns: 46.3% auto;
    gap: 25px 47px;
  }

  @include vp-767 {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}

.to-go__list li {
  padding: 22px 65px 22px 25px;
  border: 1px solid $alabaster;
  border-radius: 16px;
  position: relative;
  max-width: 478px;
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;

  &::before {
    content: counter(to-go__list);
    position: absolute;
    top: -16px;
    left: -22px;
    width: 42px;
    height: 42px;
    background-color: $cerulean-blue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 22px;
    line-height: 22px;
    text-transform: uppercase;
    letter-spacing: 0.22px;
    counter-increment: to-go__list;

    @include vp-767 {
      font-size: 18px;
      line-height: 18px;
      width: 28px;
      height: 36px;
      top: -9px;
      left: -15px;
    }
  }

  @include vp-1199 {
    line-height: 20px;
    max-width: 100%;
    padding: 24px 20px 26px 22px;
  }

  @include vp-767 {
    font-size: 14px;
    margin-left: 15px;
    padding: 18px 23px 18px 23px;
  }
}
